@import 'blocks/weather.scss';

* {
    margin: 0;
}

body {
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    background: hsla(221, 45%, 73%, 1);
    background: linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);    
    background: -webkit-linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    background-repeat: no-repeat;  
}