
.blue-bg { 
    --data-color-primary: hsla(220, 78%, 29%, 1);
    --data-color-secondary: hsla(221, 45%, 73%, 1);
}

.orange-bg {
    --data-color-primary: hsla(33, 100%, 53%, 1);
    --data-color-secondary: hsla(58, 100%, 68%, 1);
}

.green-bg {
    --data-color-primary: hsla(167, 68%, 73%, 1) ;
    --data-color-secondary: hsla(178, 59%, 48%, 1);
}

.pink-bg {
    --data-color-primary: hsla(299, 85%, 90%, 1);
    --data-color-secondary:  hsla(11, 82%, 87%, 1) ;
}
